.adImg {
  width: 100%;
  margin-top: 24px;
}

.title {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  .mainTitle {
    justify-content: center;
    // font-family: 'Roboto';
    text-align: center;
    color: #373737;
    font-size: 30px;
    text-align: center;
  }
  a {
    // float: right;
    justify-content: flex-end;
    border: 0px;
  }
}

.subtitle {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Home_Product__name {
  font-size: 16px;
  text-decoration: none;
  color: #373737;
  font-weight: 900;
  text-align: center;
  // margin-left: 16px;
}
.gallery {
  a {
    // float: right;
    // justify-content: flex-end;
    // border-bottom-color: 'white';
    // text-align: center;
  }
}

.containers{
  margin:-15px 0;
}
