.adImg {
  width: 100%;
  margin-top: 24px;
}

.title {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  .mainTitle {
    justify-content: center;
    // font-family: 'Roboto';
    text-align: center;
    color: #373737;
    font-size: 30px;
    text-align: center;
  }
  a {
    // float: right;
    justify-content: flex-end;
  }
}

.subtitle {
  text-align: center;
  display: flex;
  justify-content: center;
}